.site-header {
  padding-top: 30px;
  /* margin-bottom: 1.45rem; */
  border-radius: inherit;
  background: #fff;
  background: linear-gradient(90deg, #fff 20%, #000 100%);
}

.logo {
  width: 300px;
  height: auto;
  margin-bottom: 0;
}

.main-navigation {
  /* background: #FF8000; */
  background: rgb(255,128,0);
  background: linear-gradient(180deg, rgba(255,128,0,1) 0%, rgba(217,103,10,1) 100%);
  display: flex;
  justify-content: space-around;
  height: auto;
}

.main-navigation > a {
  color: white;
  text-decoration: none;
  padding: .5em;
  width: 100%;
  text-align: center;
  border-right: 1px solid #b6570a;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
}

.main-navigation > a:last-child {
  border: none;
}

.main-navigation > a:hover {
  background: rgba(255, 255, 255, .2);
}

.main-navigation > a.active {
  background: #d9670a;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .25);
}

#language-toggle-btn {
  background: #fff;
  border-radius: 8px;
  font-family: sans-serif;
  border: 1px solid lightgrey;
  padding: 4px 8px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .main-navigation > a {
    
  }
}